<div class="container">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Role</th>
                <th scope="col">Team</th>
                <th scope="col">Salary</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let e of elist">
                <td>{{e.name}}</td>
                <td>{{e.role}}</td>
                <td>{{e.team}}</td>
                <td>{{e.salary}}</td>
                <td><button class="btn btn-primary" (click)=update(e)>Update</button></td>
                <td><button class="btn btn-warning" (click)=delete(e)>Delete</button></td>
            </tr>
        </tbody>
    </table>
    <button class="btn btn-primary" (click)="save()">Add Employee</button>
</div>